/* Shortcut classes */
.fl{float:left;}
.fr{float:right;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.db{display:block;}
.di{display:inline;}
.ib{display:inline-block;}
.dn{display:none;}
.po{cursor:pointer;}
.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}
.np{padding:0;}
.nm{margin:0;}
.ab{position:absolute;}
.rl{position:relative;}
.fx{position:fixed;}
.oh{overflow:hidden;}
.oa{overflow:auto;}
.oy{overflow-y:scroll}
.b,strong{font-weight:700;}
.i,em{font-style:italic;}
.m{margin:10px}
.mb{margin-bottom:10px;}
.mt{margin-top:10px;}
.ml{margin-left:10px;}
.mr{margin-right:10px;}
.ma{margin:0 auto;}
.p{padding:10px;}
.pb{padding-bottom:10px;}
.pt{padding-top:10px;}
.pl{padding-left:10px;}
.pr{padding-right:10px;}
.md{vertical-align:middle}
.nw{white-space:nowrap;}
.zt{z-index:100}
.zb{z-index:-100}
.tp{top:0}
.lf{left:0}
.rg{right:0}
.bm{bottom:0}
.min{width:1%;}
.max{width:100%;}

h1,h2,h3,h4,h5,h6 { color: #fff;}
h3 { margin-top: 10px; }

/* Bubbles */
.bubble {
  width: 200px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: 0 50px;
  position: relative;
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

.bubble div {
  width: 200px;
  position: absolute;
  z-index: 1;
  top: 50px;
  height: 0px;
}

.error {
  color: red;
}

#hp {
  background-image: url("../img/globe_hp.png");
  float: left;
}

#hp div {
  background-image: url("../img/globe_r_hp.png");
}

#mana {
  background-image: url("../img/globe_mana.png");
  float: right;
}
#mana.blood {
  background-image: url("../img/globe_empty.png");
}
#mana div {
  background-image: url("../img/globe_r_mana.png");
}

#footer {
  padding-top: 20px;
  text-align: center;
  width: 100%;
}

.row {
  border: 1px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  margin-bottom: 10px;
}

.row h3 {
  padding: 0 10px;
}
/* Form labels */
label {
  color: #bbb;
  display: block;
  font-size: 16px;
  background: #111;
  cursor: pointer;
  cursor: hand;
  line-height: 35px;
}
label .reserved, label .reserved-mana, label .multi {
  font-weight: normal;
  font-style: italic;
  float: right;
  padding-right: 10px;
}
label.disabled {
  color: #555;
}
label.edited {
  background: #2B4463;
  color: #fff;
}
label img {
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 5px;
}
label input[type=number] {
  border: 1px solid #ccc;
  background: #222;
  font-size: 14px;
  color: #fff;
  line-height: 25px;
  padding: 0 2px;
  width: 60px;
}
label input[type=number].fr {
  margin-top: 3px;
  margin-right: 3px;
  width: 90px;
}
#final {
  border: 0;
}
#aura_1 .del {
  display: none;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #2d6ca2 !important;
  background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%) !important;
  background-position: 0 -15px;
}
.advanced {
  display: none;
}
input[type=text] {
  background: none;
  border: none;
  color: #fff;
  width: 80%;
}
.btn-warning:hover, .btn-warning:focus {
  background-color: #b26a04 !important;
  background-image: -webkit-linear-gradient(#804d03, #9e5f04 40%, #b26a04) !important;
}
.selected {
  text-decoration:line-through;
}